* {
  font-family: "Spartan";
}
.campaign-container {
  background: #000000;
  width: 100vw;
  min-height: 100vh;
  padding: 70px 180px;
  position: relative;
}
.campaign-header {
  background: linear-gradient(90deg, #000000 68.23%, rgba(0, 0, 0, 0) 77.42%),
    url("/images/campaignbg.png") no-repeat right center;
  background-size: contain;
  width: 100%;
  height: 187.2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 20px 50px;
  color: white;
  border: 0.53px solid #939393;
  border-radius: 11.2px;
}

.campaign-content {
  text-align: center;
}

.campaign-title {
  text-align: left;
  font-size: 38.4px;
  font-weight: 600;
  letter-spacing: -6%;
  background: linear-gradient(180deg, #00ff00 45.93%, #009900 76.54%);
  -webkit-background-clip: text;
  color: transparent;
}

.campaign-description {
  text-align: left;
  font-size: 12.8px;
  font-weight: 500;
  line-height: 14.34px;
  letter-spacing: -6%;
  background: #9b9b9b;
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 15px;
}

.campaign-btn-Wrapper {
  position: relative;
  padding: 1px;
  border: linear-gradient(99.76deg, #00ff00 8.86%, rgba(0, 153, 0, 0) 91.14%);
}

.campaign-btn {
  width: 100%;
  height: 100%;
  padding: 14.41px 27.69px;
  border-radius: 55.1px;
  background: radial-gradient(
    128.13% 128.13% at 50% 50%,
    #000000 25%,
    rgba(0, 255, 0, 0) 100%
  );
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-size: 17.9px;
  font-weight: 700;
  line-height: 19.25px;
  letter-spacing: -6%;
  text-align: center;
}

.campaign-btn-Border {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 55.1px;
  background: linear-gradient(
    99.76deg,
    #00ff00 8.86%,
    rgba(0, 153, 0, 0) 91.14%
  );
  z-index: 0;
  padding: 1.27px;
  box-sizing: border-box;
}

.campaign-btn-Overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 55.1px;
  background: linear-gradient(to left, rgba(0, 255, 0, 0.737), transparent 60%);
  z-index: 1;
}

.campaign-tabs {
  display: flex;
  margin-top: 15px;
}
.campaign-tabs button {
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 0;
  padding: 10px 35.5px;
  border-top: 0.75px solid #888;
  border-right: 0.75px solid #888;
  font-size: 13.5px;
  font-weight: 600;
  line-height: 15.12px;
  letter-spacing: -6%;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
  background-color: #000000;

}
.campaign-tabs button:first-child {
  margin-left: 0;
}
.campaign-tabs button.active {
  border: 0.75px solid #00ff00;
  color: #00ff00;
}
.filter-button {
  background-color: transparent;
  border: 0.75px solid #505050;
  color: white;
  padding: 15px 30px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 10.5px;
  line-height: 15.12px;
  font-weight: 500;
  letter-spacing: -6%;
  color: #ffffff;
  width: 201px;
}

.table-container {
  width: 100%;
  position: relative;
}

.campaign-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 18px;
  z-index: 1;
  position: relative;
}
.campaign-table tr{
  border:5px solid red !important;
}
.campaign-table th {
  font-size: 18px;
  font-weight: 600;
  line-height: 20.16px;
  letter-spacing: -6%;
  color: #00ff00;
}
.campaign-table td {
  padding: 15px;
  background-color: transparent;
  text-align: center;
  outline: none;
}

.campaign-table tbody tr {
  overflow: hidden;
  border: 10px solid red;
}

.campaign-table tbody tr td:first-child {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.campaign-table tbody tr td:last-child {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.view-details-btn {
  background: linear-gradient(90deg, #00ff00 0%, #009900 100%);
  color: black;
  padding: 13.5px 20.25px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 13.5px;
  font-weight: 600;
  line-height: 15.12px;
  letter-spacing: -6%;
  color: #ffffff;
}

.view-details-btn:hover {
  background-color: #00cc00;
}

.pagination {
  padding: 0.8px 0.8px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
}

.page-numbers .active {
  background: #0c450c;
  border: 0.75px solid #00ff00;
  border-radius: 50%;
}

.pagination-blur {
  background-color: #000000b2;
}
.effect {
  position: absolute;
  top: 50%; 
  right: -300px;
  transform: translateY(-50%);
  width:100%;
  height:100%;
  border-radius: 50%;
  z-index: 0;
}
