
/* Sign In toast */

.sign-in-popup {
    background-color: #000000B2;
}

.signin-card {
    border: 1px solid #6D6D6D;
}

.cancel-btn-new {
    border: 1.27px solid #00FF00
}

.signin-btn {
    background: linear-gradient(180deg, #000000 -14.06%, rgba(0, 255, 0, 0.668) 178.13%);
    /* border: 1.27px solid; */
}

.signin-outer {
    padding: 1px;
    background: linear-gradient(99.76deg, #00FF00 8.86%, rgba(0, 153, 0, 0.342) 91.14%);
}

.close-icon {
    background: #00FF0024;
    border: 0.71px solid #00FF00
}

.text-green {
    color: #00FF00;
}