.campaign-success-container {
  background-color: black;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  padding: 70px 120px;
  box-sizing: border-box;
}
.success-campaign-header {
  background: linear-gradient(90deg, #000000 55%, rgba(0, 0, 0, 0) 100%),
    url("/images/campaignbg.png") no-repeat right center;
  background-size: contain;
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 20px 50px;
  color: white;
  border: 0.53px solid #939393;
  border-radius: 11.2px;
  margin-bottom: 75px;
}

.success-campaign-content {
  text-align: center;
}

.success-campaign-content h1 {
  text-align: left;
  font-size: 46px;
  font-weight: 600;
  letter-spacing: -6%;
  background: linear-gradient(180deg, #00ff00 45.93%, #009900 76.54%);
  -webkit-background-clip: text;
  color: transparent;
}

.success-campaign-content p {
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.34px;
  letter-spacing: -6%;
  background: #9b9b9b;
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 15px;
}
.campaign-success-title {
  font-size: 31px;
  color: #00ff00;
  line-height: 40.32px;
  letter-spacing: -6%;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}

.campaign-link-box {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  background: #171717;
  padding: 37.5px 18.5px;
  border-radius: 12px;
  width: 400.54px;
  height: 160.75px;
  border: 0.75px solid #555555;
}
.campaign-link-inputbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  border: 0.75px solid #7a7a7a;
  padding: 6px 5.5px;
  border-radius: 45.75px;
  width: 100%;
  height: 43px;
}
.campaign-link-inputbox p {
  font-size: 17px;
  font-weight: 500;
  line-height: 20.16px;
  letter-spacing: -6%;
  color: #ffffff;
  margin-left: 8px;
}
.campaign-link-input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 16px;
  padding-right: 10px;
}

.copy-link-btn {
  background-color: transparent;
  color: #00ff00;
  border-radius: 45px;
  padding: 6.25px 12.75px;
  cursor: pointer;
  font-weight: 600;
  font-size: 11.5px;
  font-weight: 500;
  line-height: 15.12px;
  border: 0.75px solid #444444;
  gap: 2px;
}
.copy-icon{
  width:18px;
  height:18px;
}
.share-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 15px;
  color: #ffffff;
  margin-top: 20px;
}

.share-section span {
  font-size: 11.5px;
  font-weight: 600;
  line-height: 15.12px;
  letter-spacing: -6%;
  color: #ffffff;
}
.social-icon {
  cursor: pointer;
  width:22px;
  height: 22px;
}
.camapign-path-button {
  height: 30.75px;
  padding: 7.5px 18px;
  border-radius: 35.25px;
  border: 0.75px solid #00ff00;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.15) 100%
  );
}
@media (max-width: 768px) {
  .campaign-success-container {
    padding: 40px 20px;
  }

  .success-campaign-header {
    background: linear-gradient(180deg, #000000 40.23%, rgba(0, 0, 0, 0.6) 100%),
      url("/images/campaignbg.png") no-repeat center bottom;
    background-size: cover;
    flex-direction: column;
    height: auto;
    padding: 20px;
    margin-bottom: 30px;
    height: 250px;
  }

  .success-campaign-header h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
  }

  .success-campaign-header p {
    font-size: 14px;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
  }
  .campaign-success-title {
    font-size: 20.36px;
    margin-bottom: 10px;
  }
  .campaign-link-box {
    width: 326.9px;
    height: 118.53px;
    padding: 30px 15px;
    margin: 0 auto;
  }
  .campaign-link-inputbox p {
    font-size: 12.68px;
  }
  .campaign-link-inputbox {
    padding: 4.23px 5.28px;
    gap: 15px;
    height: 35px;
    width: 295.19px;
  }
  .campaign-link-inputbox button {
    font-size: 9.51px;
    padding: 2.81px 8.98px;
  }

  .share-section span {
    font-size: 9.51px;
  }
  .social-icon {
    width: 16.91px;
    height: 16.91px;
  }
  .copy-icon {
    width: 12.68px;
    height: 12.68px;
  }
  .camapign-path {
    margin-top: 20px;
  }
  .camapign-path h3 {
    font-size: 11.2px;
  }
  .camapign-path-button {
    font-size: 11.2px;
    padding: 5.5px 13.2px;
    height: 22.55px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .campaign-success-container {
    padding: 60px 30px;
  }

  .success-campaign-header {
    background: linear-gradient(90deg, #000000 55%, rgba(0, 0, 0, 0) 100%),
      url("/images/campaignbg.png") no-repeat right center;
    background-size: cover;
    flex-direction: column;
    height: auto;
    padding: 20px;
    margin-bottom: 40px;
  }

  .success-campaign-header h1 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 8px;
  }

  .success-campaign-header p {
    font-size: 15px;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
  }

  .campaign-success-title {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .campaign-link-box {
    width: 350px;
    height: auto;
    padding: 25px 15px;
    margin: 0 auto;
  }

  .campaign-link-inputbox {
    padding: 5px 10px;
  }

  .campaign-link-inputbox p {
    font-size: 15px;
  }

  .copy-link-btn {
    font-size: 12px;
    padding: 5px 10px;
  }

  .share-section span {
    font-size: 12px;
  }

  .social-icon {
    width: 20px;
    height: 20px;
  }

  .copy-icon {
    width: 16px;
    height: 16px;
  }

  .camapign-path-button {
    font-size: 12px;
    padding: 6px 14px;
  }
}