.art-img-holder {
    border: 1px solid #7A7A7A
}

.uploads-text {
    color: #C9C9C9;
    font-size: 13px;
    font-weight: 500;
}

.mint-btn,
.burn-btn {
    background: #070707;
    border: 1px solid #00FF00;
}

.art-share {
    border: 1px solid #ADADAD;
    background: #ffffff;
}

.art-share h4 {
    color: #000000;
}

/* .social-share {
    border: 1px solid #ADADAD
} */