.spartan-bold {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
}

.spartan-semibold {
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
}

.spartan-medium {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
}
