@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

.spartan {
    font-family: "League Spartan", sans-serif;
}

.timer {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(153, 153, 153, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcome-text {
    color: #CFCFCF;
}
.bottom-hero {
    background-image: url('/images/Hero-Bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.view-bar {
    border: 1px solid #464646;
}

.view-bar.active {
    border: 1px solid #00F900;
}

.battle-vote-btn {
    border: 1px solid #00F900;
    background: radial-gradient(circle, rgba(0,0,0,0.9052871148459384) 0%, rgba(0,255,0,0.17699579831932777) 100%);
}