.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.common {
  background: linear-gradient(90deg, #000000 0%, #666666 100%);
  padding: 1px;
  border-radius: 18px;
}
.popup-container {
  background-color: #000000;
  padding: 40px 100px;
  border-radius: 12px;
  width: 900px;
  text-align: center;
  position: relative;
  border: 1px solid #434343;
}

.close-button {
  position: absolute;
  top: 30px;
  right: 40px;
  background: transparent;
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.popup-title {
  color: #00ff00;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 600;
}

.section-title {
  color: #ffffff;
  margin-bottom: 22px;
  font-weight: 600;
  text-align: left;
  font-size: 20px;
  margin-top: 20px;
}

.breakdown-content {
  background: #141414;
  padding: 0px 30px 15px 30px;
  border-radius: 18px;
  display: grid;
  row-gap: 2px;
}

.breakdown-row {
  display: grid;
  grid-template-columns: 4fr 2fr;
  align-items: center;
  margin-top: 15px;
}

.description {
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 15px;
}
.calculation-result {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.calculation {
  text-align: left;
  color: #00ff00;
  font-size: 17px;
  font-weight: 600;
}
.total-cost {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 5px;
}
.total-cost-text {
  font-size: 16.5px;
  font-weight: 600;
}
.highlight {
  color: #00ff00;
  text-align: right;
  font-weight: 700;
  font-size: 20px;
}

.divider {
  margin: 1.2rem 0;
  border: 1px solid #606060;
}

.total-cost {
  font-weight: 600;
}

.popup-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 2rem;
}

.cancel-button {
  background: transparent;
  border: 1.27px solid #00ff00;
  padding: 10.41px 25.69px;
  border-radius: 55.1px;
  color: #00ff00;
  font-size: 14.9px;
  font-weight: 600;
}

.campaignpopup-btn-Wrapper {
  position: relative;
  padding-left: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  border: linear-gradient(99.76deg, #00ff00 8.86%, rgba(0, 153, 0, 0) 91.14%);
}

.campaignpopup-btn {
  width: 100%;
  height: 100%;
  padding: 14.41px 22.69px;
  border-radius: 55.1px;
  background: radial-gradient(
    128.13% 128.13% at 50% 50%,
    #000000 25%,
    rgba(0, 255, 0, 0) 100%
  );
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-size: 14.9px;
  font-weight: 600;
  line-height: 19.25px;
  letter-spacing: -6%;
  text-align: center;
}

.campaignpopup-btn-Border {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 55.1px;
  background: linear-gradient(
    99.76deg,
    #00ff00 8.86%,
    rgba(0, 153, 0, 0) 91.14%
  );
  z-index: 0;
  padding: 1.27px;
  box-sizing: border-box;
}

.campaignpopup-btn-Overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 55.1px;
  background: linear-gradient(to left, rgba(0, 255, 0, 0.737), transparent 60%);
  z-index: 1;
}
.close {
  background: transparent;
  border: 1.27px solid #00ff00;
  padding: 12.41px 62.69px;
  border-radius: 55.1px;
  border-radius: 55.1px;
  color: #00ff00;
  font-size: 14.9px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert {
  color: #ff543e;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  margin-top: 15px;
}
.retry-button {
  background: transparent;
  border: 1.16px solid #ff543e;
  padding: 12.41px 32.69px;
  border-radius: 55.1px;
  border-radius: 55.1px;
  color: #ff543e;
  font-size: 14.9px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .popup-container {
    width: 90%;
    padding: 20px 10px;
  }

  .popup-title {
    font-size: 11px;
  }

  .section-title {
    font-size: 13px;
    margin-left: 35px;
    margin-bottom: 15px;
  }

  .breakdown-content {
    padding: 5px 10px 20px 10px;
  }

  .breakdown-row {
    grid-template-columns: 1fr; /* Stack elements vertically */
    gap: 5px; /* Add spacing between elements */
    text-align: center;
  }

  .description {
    font-size: 13px;
    text-align: center;
  }
  .calculation,
  .highlight {
    text-align: center;
    margin: 0;
  }
  .calculation-result {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .calculation {
    font-size: 15px;
  }

  .highlight {
    font-size: 14px;
  }

  .total-cost {
    flex-direction: row;
    gap: 10px;
  }
  .total-cost-text {
    font-size: 13px;
  }
  .popup-buttons {
    flex-direction: row;
    gap: 10px;
  }

  .cancel-button {
    padding: 9.41px 20.69px;
    border-radius: 55.1px;
    color: #00ff00;
    font-size: 10.9px;
    font-weight: 600;
  }
  .campaignpopup-btn {
    padding: 9.41px 20.69px;
    font-size: 10.9px;
    font-weight: 600;
  }
  .close-button {
    width: 20px;
    height: 20px;
    top: 15px;
    right: 15px;
  }

  .retry-button {
    width: 100%;
    padding: 10px;
  }
}
