.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: transparent;
  width: 422.67px;
  height: 422.67px;
}

.logo-image {
  width: 150px;
  margin-bottom: 20px;
}

.count-progress-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress-count {
  color: white;
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 5px;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: white;
  overflow: hidden;
  position: relative;
  border-radius: 25px;
  height: 10px;
}

.progress {
  height: 100%;
  background-color: #00ff00;
  transition: width 0.1s ease;
}
