.spartan-bold {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
}

.spartan-semibold {
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
}

.spartan-medium {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
}

.spartan-light {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
}

.header-left {
    border: 1px solid #464646;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.01) 100%);
    /* background: linear-gradient(90deg, rgba(252, 252, 255, 0.175) 0%, rgba(54, 54, 54, 0.279) 30%, rgba(0, 0, 0, 0.471) 78%); */
}

.sub-navs {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.1) 100%);
    backdrop-filter: blur(20px)
}

.nav-links .active {
    color: #00F900;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.outside {
    background: linear-gradient(99.76deg, #00FF00 8.86%, rgba(0, 153, 0, 0) 91.14%);
    /* padding: 1.27px; */
    padding-left: 1.35px;
    padding-right: 1.30px;
    padding-bottom: 1.27px;
    padding-top: 1.27px;
}

.layer2 {
    background-color: #000;
}

.register-btn {
    /* background: radial-gradient(128.13% 128.13% at 50% 50%, #000000 25%, rgba(0, 255, 0, 0.096) 100%); */
    background: radial-gradient(circle, rgba(0, 0, 0, 0.9052871148459384) 0%, rgba(0, 255, 0, 0.17699579831932777) 100%);
}

.header-info {
    /* border: 1px solid #00F900; */
    background: radial-gradient(circle, rgba(0, 0, 0, 0.9052871148459384) 0%, rgba(0, 255, 0, 0.17699579831932777) 100%);
}

.profile-icon {
    background: linear-gradient(180deg, rgba(0, 255, 0, 1) 0%, rgba(0, 153, 0, 1) 100%);
}

.email {
    color: #A4A4A4;
}

.profile-dd {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.1) 100%);
    backdrop-filter: blur(20px)
}

.signout-btn {
    border: 1px solid #00FF00
}
