.distribute-popup {
  background: #000000;
  border: 1px solid #ccc;
  padding: 20px 20px 0px 20px;
  border-radius: 15px;
  width:900px;
  max-height: 80vh;
  margin: 0 auto;
  color: #0f0;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  overflow-y: auto;

}

.distribute-popup::-webkit-scrollbar {
  width: 4px;
  margin-left: 10px;
}

.distribute-popup::-webkit-scrollbar-thumb {
  background-color: #00ff00;
  border-radius: 10px;
}

.distribute-popup h1 {
  font-size: 28px;
  color: #00ff00;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.distribute-popup .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 750px;
  margin: 0 auto;
  justify-content: center;
  
}

.distribute-card {
  width: 180px;
  height: 180px;
  border-radius: 7px;
  transition: transform 0.3s ease;
  cursor: pointer;
  position: relative;
  border: 0.56px solid #7A7A7A;
  margin-bottom: 35px;
}
.distribute-card.disabled {
  pointer-events: none;
  opacity: 0.3; 
}

.distribute-card img{
  width:100%;
  height:100%;
  border-radius: 7px;
  object-fit: cover;
}


.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.user-info span {
  font-size: 10px;
  color: #ffffff;;
}
.checkmark {
  position: absolute;
  bottom: 5px;
  right: 5px;
  border: 1px solid #00ff00;
  color: #000;
  width: 25px;
  height: 25px;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.checkmark.selected {
  background-color: #00ff00;
}
.distribute-popup .footer {
  position: sticky;
  bottom: 0;
  background-color: #000000;
  padding: 10px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: calc(100% + 40px);
  margin-left: -20px; 
  margin-right: -20px;
  box-sizing: border-box;
  left: 0;
}

.distribute-popup .reward-result{
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 40px;
}

.actions {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.cancel-btn,
.distribute-popup-btn {
  border-radius: 35.65px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 180px;
}
.cancel-btn {
  background: transparent;
  border: 1.27px solid #00ff00;
  padding: 12.41px 25.69px;
  color: #00ff00;
}
.distributepopup-btn-Wrapper {
  position: relative;
  padding-left: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  border: linear-gradient(99.76deg, #00ff00 8.86%, rgba(0, 153, 0, 0) 91.14%);
}

.distributepopup-btn {
  width: 100%;
  height: 100%;
  padding: 14.41px 22.69px;
  border-radius: 55.1px;
  background: radial-gradient(
    128.13% 128.13% at 50% 50%,
    #000000 25%,
    rgba(0, 255, 0, 0) 100%
  );
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-size: 14.9px;
  font-weight: 500;
  line-height: 19.25px;
  letter-spacing: -6%;
  text-align: center;
}

.distributepopup-btn-Border {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 55.1px;
  background: linear-gradient(
    99.76deg,
    #00ff00 8.86%,
    rgba(0, 153, 0, 0) 91.14%
  );
  z-index: 0;
  padding: 1.27px;
  box-sizing: border-box;
}

.distributepopup-btn-Overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 55.1px;
  background: linear-gradient(to left, rgba(0, 255, 0, 0.737), transparent 60%);
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .distribute-popup  {
    width: 90%;
    max-width: none;
    padding: 15 15px 0px 15px;
  }

  .distribute-popup h1 {
    font-size: 16px;
  }

  .distribute-popup .grid {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 25px;
  }

  .distribute-card {
    width: 130px;
    height: 130px;
    margin-bottom: 30px;
  }

  .checkmark {
    width: 20px;
    height: 20px;
    font-size: 0.9rem;
  }

  .footer {
    padding: 10px 15px 30px 15px;
    width: calc(100% + 40px); 
    margin-left: -20px;
    margin-right: -20px;
    gap:5px;
  }

  .distribute-popup .reward-result {
    font-size: 14px;
  }

  .cancel-btn,
  .distribute-popup-btn {
    width: 150px;
    font-size: 13px;
    padding: 10px;
  }

  .actions {
    flex-direction: column;
    gap: 15px;
  }
}